<div class="rails_form_wrapper">
<h3>Log in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "rails_form", style: 'height:400px;' }) do |f| %>
  <div class="field w100fl">
    <%= f.label :email, { style: "color:#000" } %><br />
    <%= f.email_field :email, { autofocus: true, class: "txt100", style: "" } %>
  </div>

  <div class="field w100fl">
    <%= f.label :password, { style: "color:#000" } %><br />
    <%= f.password_field :password, { autocomplete: "off", class: "txt100", style: "" } %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field w100fl">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, { style: "color:#000" } %>
    </div>
  <% end -%>

  <div class="actions w100fl">
    <%= f.submit "Log in", { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkUserForm();" } %>
	<!--<span style="float:right;display: block;height: 20px;margin-top: 10px;"><%#= render "users/shared/links" %></span>-->
  </div>
<% end %>

</div>