<% (start_days..end_days).each do |index| %>
	<div class="day">
		<div class='dayrow' id='day<%= index %>'>
			<div id='dayofweek<%= index %>' class='dayofweek'></div>
            <div class='hricondiv' id='icondiv<%= index %>'>
				<canvas id='condimg<%= index %>' height='30' width='30'></canvas>
			</div>
			<div class='hrconddiv' onclick="showCondition('conditiontext<%= index %>')">
				<span id='condition<%= index %>' class='conspan'></span>
				<input type='hidden' id='conditiontext<%= index %>' value='' />
			</div>
			<div class='hrprecdiv'>
				<img src='assets/scattered-showers.svg' class='hrrainchanceicon' type='image/svg+xml' />
				<span id='rainchance<%= index %>'></span>
			</div>
			<div class='hrtempdiv'>
				<span id='high<%= index %>'></span> / <span id='low<%= index %>'></span>
				<input type='hidden' id='high<%= index %>_cnvrt' value='' />
				<input type='hidden' id='low<%= index %>_cnvrt' value='' />
			</div>
			<div class='hrprecdiv' id='humid<%= index %>'>
				<img src='assets/humidity.svg' class='hrhumidityicon' type='image/svg+xml' />
				<span id='humidity<%= index %>'></span>
			</div>
			<div class='hrwinddiv' id='wind<%= index %>'></div>
			<input type='hidden' id='wind<%= index %>_cnvrt' value='' />
		</div>
	</div>
<% end %>
